/* Header */
body {
  font-family: sans-serif;
}

/* biggest container */
.head-all-container{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin-bottom: 80px;
}

.head-left-image{
  width: 400px;
  flex: 0 0 auto;
  margin-right: 20px;
}

/* container for right information */
.head-right-container{
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* right links for product and cart and badge */
.head-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 100px;
}

.head-link div {
  font-size: 25px;
  margin: 40px 0px 0px 40px;
  text-transform: uppercase;
}

.cart {
  font-weight: bold;
}

.dot {
  position: relative;
  height: 25px;
  width:15px;
  background-color: red;
  border-radius: 50%;
  margin: 20px 3px 0px 2px;
}

.dot p {
  position: center;
  margin: 3px;
  color: white;
}

/* line and cinnamon roll */
hr {
  flex: 1;
  display: flex;
  height:3px;
  background-color:black;
  justify-content: flex-end;
  margin: 30px 0px 30px;
}

.head-intro {
  flex: 1; 
  display: flex;
  align-items: end;
  font-size: 25px;
  margin-bottom: 15px;
}

a{
  color: black;
  text-decoration: none;
}


/* Items in the cart */
.product-all{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-single{
  width: 700px;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 20px 200px;
}

.image-cart{
  border-style: solid;
  width: 200px;
}

.image-remove{
  font-size: 20px;
  font-weight: bold;
  text-decoration-line: underline;
}

.text-cart{
  font-size: 20px;
  line-height:50px;
  margin: 0px 0px 0px 30px;
}

.price{
  font-size: 20px;
  margin-top: 80px;
  margin-left: auto;
}

.bottom-line hr{
  width: 700px;
  margin: 0px 0px 10px 200px;
}

.checkout{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin: 0px 0px 30px 200px;
}
  
.text-checkout {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  font-size: 20px;
}

.text-checkout div{
  margin-left: 350px;
  margin-bottom: 30px;
}

.button-layout{
  margin-left:auto;
}

.button-checkout{
  display: flex;
  flex-direction: row;
  background-color: yellow;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}