/* Background */
body {
    background-image: url('assets/Project-bg.png');
    margin: 0;
    height: 100vh;
    display: flex;
    background-position: center center; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}

/* Container for all */
.all-content-container {
    display: flex; 
    align-items: center; 
    width: 100%; 
    height:auto;
}


/* Project Description */
.project-description {
    max-width: 900px;
    margin-left: 14%;
    margin-right: 2%;
    z-index: 2;
    margin-bottom: 20%;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 13%
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px;
    color:rgb(94, 94, 94);
}


/* Projects */
.project-main-content {
    display: flex;
    justify-content:flex-end;
    padding: 0;
    width: 700px;
    height: 100vh;
    position: relative;
}

  
.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
  
.left-column {
    width: 50%;
    padding-top: 35vh;
    margin-right: -4%;
    border: black;
    border-width: 3px;
}
  
.right-column {
    width: 50%;
}
  
.project-tile {
    position: relative;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#project1 { 
    margin-top: 5.5vh;
    height: 45vh; 
    margin-bottom: 21vh;
}
  
#project2 {
    margin-top: 5vh;
    height: 45vh; 
    margin-left: -2px;
}
  
#project3 {
    height: 45vh; 
}
  
.project-tile h3 {
    margin-bottom: 0px;
    margin-left: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 20px;
}
  
.project-tile img {
    width: 323px;
    height: 240px;;
}


/* Header */
.container-header {
    position: fixed;
    top: 0; 
    left: 0; 
    justify-content: start; 
    padding: 10px 20px; 
    background: white;
    z-index: 3;
}

.logo {
    font-family: "Rubik Glitch", sans-serif;
    font-size: 1.5em; 
    font-weight: normal; 
    text-decoration: none; 
    color: black; 
    margin-right: 5px;
}

.header-normal {
    font-family: "Rubik Glitch", sans-serif;
    font-weight: normal;
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    margin-left: 15px; 
}

.header-highlight {
    font-family: "Rubik Glitch", sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(219, 107, 76);
}

/* Vertivcal Lines */
.vertical-line-right {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-left: -20%;
    width: 1.5px;
    background-color: #afafaf;
}

.vertical-line-left {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1.5px;
    left: 0;
    margin-left: 7.3%;
    background-color: #afafaf;
    height: 200%;
}

.project-main-content::before {
    content: '';
    position: absolute;
    top: 0;
    margin-left: 3.5%;
    left: 50%; 
    width: 1.5px;
    background-color: #afafaf; 
    height: 200%;
}
