/* Header */
body {
    font-family: sans-serif;
  }

/* biggest container */
.head-all-container{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 80px;
}

.head-left-image{
    width: 400px;
    flex: 0 0 auto;
    margin-right: 20px;
}

/* container for right information */
.head-right-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* right links for product and cart and badge */
.head-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px;
}

.head-link div {
    font-size: 25px;
    margin: 40px 0px 0px 40px;
    text-transform: uppercase;
}

.product mark {
    font-weight: bold;
}

.dot {
    position: relative;
    height: 25px;
    width:15px;
    background-color: red;
    border-radius: 50%;
    margin: 20px 3px 0px 2px;
}

.dot p {
    position: center;
    margin: 3px;
    color: white;
}

/* line and cinnamon roll */
hr {
    flex: 1;
    display: flex;
    height:3px;
    background-color:black;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 0px 30px
}
  
.head-intro {
    flex: 1; 
    display: flex;
    align-items: end;
    font-size: 25px;
    margin-bottom: 15px;
}


/* For Product Gallery */
.product{
    display: flex;
    justify-content: center;
  }
  
.product-single {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 0px 40px 40px 30px;
}

.product-single:hover{
    box-sizing: border-box;
    background-color: yellow;
}

.product-single:hover .product-name {
    font-weight: bold; 
}

a{
    color: black;
    text-decoration: none;
}

/* each product */
.container{
    display: inline-block;
    text-align: left; 
    /* margin-bottom: 30px; */
}

.image{
    border-style: solid;
    width: 285px;
}

.product-name{
    text-decoration-line: underline;
    font-size: 20px;
}

.price{
    font-size: 20px;
    line-height:10px;
}


/* Detail Page */
.detail-all{
    display: flex;
    justify-content: center;
    
}

.detail-image{
    width: 600px;
    border-style: solid;
    margin:0px 30px 0px 30px;
}

.detail-info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
    max-width: 300px;
    margin-right: 50px;
}

.detail-intro{
    font-size: 22px;
    margin-bottom: 140px;
}

.drop-down-container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.drop-down{
    display: flex;
    height: 40px;
    font-size: 20px;
    width: 100%;
}

.summary{
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
}

.button{
    background-color: yellow;
    margin-left: 15px;
    font-weight: bold;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
}
