body {
    background-image: url('../assets/About\ me-bg.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 100vh;
}

/* My picture */
.clear-circle, .blur-circle {
    position: absolute;
    top: 50%;  
    left: 27%;
    transform: translate(-50%, -50%);
    width: 320px;  
    height: 320px; 
    background-image: url('../assets/my\ photo.jpg');
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}

.clear-circle {
    width: 320px;  
    height: 320px; 
}

.blur-circle {
    width: 330px;
    height: 330px;
    filter: blur(10px);
    z-index: -1;
}

/* Rotating elipse */
.ellipse-container {
    position: absolute;
    top: 50%;  
    left: 27%;
    width: 590px; 
    height: 320px;
    border-radius: 580px / 320px;
    border: 0.1px solid rgb(89, 183, 174);
    transform: translate(-50%, -50%) rotate(320deg);
    transform-origin: center;
}


/* Right text */
.container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 40px;
    margin-top: -40px;
}

.intro-text {
    text-align: left;
    margin-left: 50%;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.subtitle span{
    font-family: "Roboto", sans-serif;
    font-weight: medium;
    font-size: 27px;
    margin-bottom: 20px;
}

.subtitle-normal {
    color: #555; 
}

.subtitle-red {
    color: rgb(219, 107, 76);
}

.subtitle-blue {
    color: rgb(50, 133, 125);
}

.text {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 18px; 
    color: #555;
    line-height: 1.6;
    margin-top: 30px;
}


/* Header */
.container-header {
    position: absolute; 
    top: 0; 
    left: 0; 
    justify-content: start; 
    padding: 10px 10px; 
}

.logo {
    font-family: "Rubik Glitch", sans-serif;
    font-size: 1.5em; 
    font-weight: normal; 
    margin-right: 10px; 
    text-decoration: none; 
    color: black; 
}

.header-normal {
    font-family: "Rubik Glitch", sans-serif;
    font-weight: normal;
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}

.header-highlight {
    font-family: "Rubik Glitch", sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(219, 107, 76);
    margin-left: 10px;
    margin-right: 10px;
}

/* Responsive design */
@media screen and (max-width: 600px) {
    body {
        background-position: 4% 2%;
        background-size: 200% 40%;
        background-repeat: no-repeat;
        overflow-x: hidden;
    }

    /* Positioning picture and ellipse at the top and centering them */
    .container-left {
        position: relative; 
        text-align: center; 
        margin-top: 300px;
    }

    .clear-circle, .blur-circle, .ellipse-container {
        left: 50%; 
    }

    .clear-circle, .blur-circle {
        width: 230px;  
        height: 230px; 
    }

    .blur-circle {
        width: 240px; 
        height: 240px;
    }

    .ellipse-container {
        width: 400px;
        height: 240px;
        border-radius: 400px / 240px;
    }

    /* Adjusting right container to display vertically below */
    .container-right {
        display: block; 
        padding-top: 190px;
        text-align: center; 
    }

    .intro-text {
        margin-left: 0;
    }

    /* Responsive font sizes to ensure text remains legible on small devices */
    h1 {
        font-size: 30px;
    }

    .subtitle span {
        font-size: 22px;
    }

    .text {
        font-size: 16px;
    }

    /* Header: smaller font */
    .logo {
        font-size: 1.2em; 
    }
    
    .header-normal {
        font-size: 0.6em;
    }
    
    .header-highlight {
        font-size: 1em;
    }
}