/* All content */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Back icon */
.exit-icon {
    position: fixed;
    top: 8%;
    left: 3.5%;
    z-index: 10;
    width: 60px;
    height: 55px;
}

/* Head image and title */
.head-intro {
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    margin-right: 10%;
    margin-top: 10%;
}

.head-intro-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.head-intro img {
    width: 45%;
    height: 85%;
    margin-right: 0px;
}

.head-intro h1 {
    color: #EBA328;
    font-size: 60px; 
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.head-intro p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #EBA328;
}

/* Introduction */
.introduction {
    max-width: 50%;
    margin: auto;
    padding: 16px;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-weight: 410;
    color: #626262;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #EBA328;
}

/* Header */
.container-header {
    position: fixed;
    top: 0; 
    left: 0; 
    justify-content: start; 
    padding: 10px 10px; 
    background: white;
    z-index: 3;
}

.logo {
    font-family: "Rubik Glitch", sans-serif;
    font-size: 1.5em; 
    font-weight: normal; 
    text-decoration: none; 
    color: black; 
    margin-right: 5px;
}

.header-normal {
    font-family: "Rubik Glitch", sans-serif;
    font-weight: normal;
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    margin-left: 15px; 
}

.header-highlight {
    font-family: "Rubik Glitch",t sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(182, 85, 58);
}

/* Responsive */
@media screen and (max-width: 600px) {
    .head-intro {
        flex-direction: column;
        
        margin-right: 0;
    }

    .head-intro img {
        width: 100%;
        height: auto;
        margin-left: 3%; 
        margin-top: 100px;
    }

    .head-intro-text {
        align-items: center;
        text-align: center;
    }

    .head-intro h1, .head-intro p {
        text-align: center;
        margin-top: -10%
    }

    .introduction {
        max-width: 75%;
        padding: 16px;
    }

    /* Header */
    .container-header {
        z-index: 11;
    }
        .logo {
        font-size: 1.2em; 
    }
    
    .header-normal {
        font-size: 0.6em;
    }
    
    .header-highlight {
        font-size: 1em;
    }

}